*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html, body {
  height: 100%;
  width: 400px;
}
body{
  background-color: #111;
  color: white;
}
.parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
.card{
  
  border: 2px solid white;
padding:20px;
text-align:center;
background-color:#333;
border-radius:10px;
}

.card p{
  margin:20px 0;
}
.card button{
  padding:10px;
  border:none;
  background-color:rgb(183, 41, 41);
  color:white;
  border-radius:5px;
  cursor:pointer;
}
.card img{
  
  object-fit:cover;
  border-radius:10px;
}